body {
    background-color: yellow;
}

.container{
    height: 700px;
}
.content {
    width: 960px;
    margin: auto;
}


.column-background {
    background-color: blue;
    height: 100px;
}

.targetBox {

}
