body {
    background-color:#8987B2;
}
.assign1 {
    margin-top: 15px;
    text-decoration: underline;
    font-size: 30px;
}

.container{
    min-height: 100%;
}
.assignment {
    position: absolute;
    top: 60px;
    font-family: Helvetica;
}

.flex-outer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto; 
    position: absolute;
    top: 100px;
    width: 450px;
    padding: 10px 30px;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;
    justify-content: space-between;
}
.content {
    width: 960px;
    margin: auto;
}


.column-background {
    background-color: blue;
    height: 100px;
}

.target-list {
    margin-top: 100px;
}

li {
    background-color: red;
    height: 140px;
    width: 300px;
    margin: 40px;
    padding:10px 10px;
    background-image: linear-gradient(to bottom, #C3EBDD ,white );
}

    

 

